script(src="/socket.io/socket.io.js")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js")
script(src="/javascripts/chat.js")

div(id="chat_window")
  
  div(id="messages")
  
  div(id="composer")
    input(id="new_message")
    input(type="button",id="send_message",value="send")
  
div(id="chatters")

div(id="ding")
