body {
  height: 100%;
  background: #d9f3ff;
  margin: 0px;
  padding: 0px;
}
#right-panel {
  background: #fffeee;
  float: left;
  position: relative;
  left: 24px;
  font: 14px "Arial", Helvetica, Arial, sans-serif;
  margin: 2px;
  padding: 16px;
  border: 1px solid #eee;
  width: 300px;
  height: 634px;
  overflow: auto;
}
#left-panel {
  float: left;
  width: 610px;
  height: 410px;
}
#left-panel #messages {
  background: #fff;
  font: 14px "Arial", Helvetica, Arial, sans-serif;
  margin: 2px;
  padding: 16px;
  border: 1px solid #eee;
  width: 600px;
  height: 600px;
  overflow: auto;
}
#left-panel #composer {
  margin: 0px;
  padding: 0px;
  width: 600px;
  white-space: nowrap;
}
#left-panel #new_message {
  border: 1px solid #eee;
  margin: 0px 0px 0px 2px;
  padding: 0px;
  width: 631px;
  height: 30px;
}
#left-panel #send_message {
  display: none;
}
#left-panel .message {
  border-top: 1px solid #eee;
  margin: 4px 8px;
  padding: 8px;
  width: 580px;
}
#left-panel .message:nth-child(even) {
  background: #fff;
}
#left-panel .message:nth-child(odd) {
  background: #fffeee;
}
