body
  height: 100%
  background: #D9F3FF
  margin: 0px
  padding: 0px
  
#right-panel
  background: #fffeee
  float: left
  position: relative
  left: 24px
  font: 14px "Arial", Helvetica, Arial, sans-serif
  margin: 2px
  padding: 16px
  border: 1px solid #eee
  width: 300px
  height: 634px
  overflow: auto
    
#left-panel
  float: left
  width: 610px
  height: 410px
  
  #messages
    background: #fff
    font: 14px "Arial", Helvetica, Arial, sans-serif
    margin: 2px
    padding: 16px
    border: 1px solid #eee
    width: 600px
    height: 600px
    overflow: auto

  #composer
    margin: 0px
    padding: 0px
    width: 600px
    white-space: nowrap

  #new_message
    border: 1px solid #eee
    margin: 0px 0px 0px 2px
    padding: 0px
    width: 631px
    height: 30px

  #send_message
    display: none
    
  .message
    border-top: 1px solid #eee
    margin: 4px 8px
    padding: 8px
    width: 580px
    
  .message:nth-child(even) {background: #ffffff}
  .message:nth-child(odd)  {background: #fffeee}