body {
  background: #d9f3ff;
  margin: 0px;
  padding: 0px;
}
body h2 {
  font: 16px "Arial", Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 6px 16px 6px 0px;
}
#right-panel {
  background: #fffeee;
  float: left;
  position: relative;
  left: 24px;
  font: 14px "Arial", Helvetica, Arial, sans-serif;
  padding: 16px;
  border: 1px solid #eee;
  width: 180px;
  height: 632px;
  overflow: auto;
}
#right-panel #room-list {
  padding-left: 8px;
  margin-bottom: 16px;
}
#right-panel #room-list .current {
  font-weight: bold;
}
#right-panel #chatter-list {
  padding-left: 8px;
  margin-bottom: 16px;
}
#left-panel {
  float: left;
  width: 610px;
  height: 410px;
}
#left-panel #message-panel {
  background: #fff;
  font: 14px "Arial", Helvetica, Arial, sans-serif;
  padding: 16px;
  border: 1px solid #eee;
  width: 600px;
  height: 600px;
  overflow-y: scroll;
}
#left-panel #composer {
  margin: 0px;
  padding: 0px;
  width: 600px;
  white-space: nowrap;
}
#left-panel #new-message {
  border: 1px solid #eee;
  margin: 0px;
  padding: 0px;
  width: 632px;
  height: 30px;
}
#left-panel #send-message {
  display: none;
}
#left-panel .message {
  border-top: 1px solid #eee;
  margin: 4px 8px;
  padding: 8px;
  width: 550px;
}
#left-panel .message:nth-child(even) {
  background: #fff;
}
#left-panel .message:nth-child(odd) {
  background: #fffeee;
}
#chat-login {
  position: absolute;
  top: 20px;
  left: 200px;
  margin: 0px;
  padding: 0px;
}
#chat-login #user-name {
  margin: 0px;
  padding: 0px;
  position: relative;
  top: 3px;
  height: 37px;
  font-size: 18px;
}
#chat-login #open-chat {
  margin: 0px;
  padding: 0px;
  height: 40px;
  width: 80px;
  border: 1px solid #ddd;
  background: #fee;
  font-size: 12px;
}
