body {
  background: #d9f3ff;
  margin: 0px;
  padding: 0px;
}
#chat_window {
  width: 610px;
  height: 410px;
}
#chat_window #messages {
  background: #fff;
  font: 14px "Arial", Helvetica, Arial, sans-serif;
  margin: 2px;
  padding: 16px;
  border: 1px solid #eee;
  width: 600px;
  height: 600px;
  overflow: auto;
}
#chat_window #composer {
  margin: 0px;
  padding: 0px;
  width: 600px;
  white-space: nowrap;
}
#chat_window #new_message {
  border: 1px solid #eee;
  margin: 0px 0px 0px 2px;
  padding: 0px;
  width: 631px;
  height: 30px;
}
#chat_window #send_message {
  display: none;
}
#chat_window .message {
  border-top: 1px solid #eee;
  margin: 4px 8px;
  padding: 8px;
  width: 580px;
}
#chat_window .message:nth-child(even) {
  background: #fff;
}
#chat_window .message:nth-child(odd) {
  background: #fffeee;
}
